.git
.gitignore
.DS_Store
.env*
.idea
.mx_output
.tmp
docs
apex-fe
apex-be/.git*
apex-be/.idea
apex-be/logs
apex-be/target
apex-be/src/main/resources/application-local.yml
scripts/market_data/.env
scripts/market_data/.progress
scripts/market_data/__pycache__
**/*.log
**/*.pyc
