MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=apex123
MYSQL_DB=apex

APEX_HITHINK_ENABLED=false
HITHINK_FINANCE_API_KEY=
APEX_HITHINK_BASE_URL=https://fuyao.aicubes.cn
APEX_HITHINK_TIMEOUT_MS=10000
