TZ=Asia/Shanghai
OPENCLAW_IMAGE=registry.cn-hangzhou.aliyuncs.com/awe-images/openclaw:2026.7.1-2
OPENCLAW_GATEWAY_PORT=18789
OPENCLAW_GATEWAY_TOKEN=change_me_with_openssl_rand_hex_32

APEX_DOCKER_NETWORK=apex_default
APEX_BOT_BASE_URL=http://backend:8080
APEX_BOT_CLIENT_KEY=change_me
APEX_BOT_CLIENT_SECRET=change_me_with_openssl_rand_hex_32
APEX_BOT_EXTERNAL_USER_ID=change_me
